In [2]:
import numpy as np
import pandas as pd

# Experiment 1

## 1.1 Calibration

In [4]:
d = 1/5000

In [5]:
rn = np.mean([])
ang_form = lambda x: np.arctan(x/(48-.8))/np.pi*180
ang = ang_form(rn)
print(d*np.sin(ang*np.pi/180))

2.0616977192714283e-05

2.8270899303372183e-07

## 1.2 Helium Spectra

In [7]:
d = 0.01/5000

### Red

In [10]:
rn = np.mean([17.25, 17.2, 16.9, 17.05])
ang_form = lambda x: np.arctan(x/(.48-.008))/np.pi*180
ang = ang_form(rn/100)
print(d*np.sin(ang*np.pi/180))

6.812465161687686e-07

### Orange

In [12]:
rn = np.mean([15.6, 15.7, 15.7, 15.8])
ang_form = lambda x: np.arctan(x/(.48-.008))/np.pi*180
ang = ang_form(rn/100)
print(d*np.sin(ang*np.pi/180))

6.312491955763039e-07

### Yellow

In [11]:
rn = np.mean([14.75, 15.2, 14.85, 15, 15.1, 14.9, 15.15, 14.95])
ang_form = lambda x: np.arctan(x/(.48-.008))/np.pi*180
ang = ang_form(rn/100)
print(d*np.sin(ang*np.pi/180))

6.052820138076755e-07

### Green

In [13]:
rn = np.mean([12.6, 12.3, 12.5, 12.7])
ang_form = lambda x: np.arctan(x/(.48-.008))/np.pi*180
ang = ang_form(rn/100)
print(d*np.sin(ang*np.pi/180))

5.129670052273586e-07

### Aqua

In [14]:
rn = np.mean([11.7, 11.65, 11.7, 11.6])
ang_form = lambda x: np.arctan(x/(.48-.008))/np.pi*180
ang = ang_form(rn/100)
print(d*np.sin(ang*np.pi/180))

4.797459711785495e-07

### Violet

In [13]:
rn = np.mean([12.6, 12.3, 12.5, 12.7])
ang_form = lambda x: np.arctan(x/(.48-.008))/np.pi*180
ang = ang_form(rn/100)

print(d*np.sin(ang*np.pi/180))

5.129670052273586e-07

# Experiment 2

## 2.1 Hydrogen Spectra

### Red

In [18]:
rn = np.mean([17.1, 16.75, 16.7, 17.15, 16.75, 17.05, 17, 16.9])
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
ang = ang_form(rn/100)
print("The wavelength is: ")
print(d*np.sin(ang*np.pi/180))

The wavelength is:
6.650749560943275e-07

### Aqua

In [17]:
rn = np.mean([12.2, 12.25, 12.6, 12, 12.3, 12.05, 12.35, 12])
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
ang = ang_form(rn/100)
print("The wavelength is: ")
print(d*np.sin(ang*np.pi/180))

The wavelength is:
4.93380107744787e-07

### Violet

In [23]:
rn = np.mean([10.85, 10.8, 10.95, 10.7, 10.8, 10.8, 10.8, 10.7])
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
ang = ang_form(rn/100)
print("The wavelength is: ")
print(d*np.sin(ang*np.pi/180))

The wavelength is:
4.304160688665712e-07

# Experiment 3

### Gas A - Red Orange

In [28]:
rn = np.mean([15.55, 15.55, 15.6, 15.4,15.3,15.3])
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
ang = ang_form(rn/100)
print("The wavelength is: ")
print(d*np.sin(ang*np.pi/180))

The wavelength is:
6.127886382265114e-07

### Gas A - Green

In [27]:
rn = np.mean([13.25, 12.95, 13.2, 13, 13.2, 12.9])
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
ang = ang_form(rn/100)
print("The wavelength is: ")
print(d*np.sin(ang*np.pi/180))

The wavelength is:
5.259513436430394e-07

### Gas B - Red

In [31]:
rn = np.mean([16.8, 16.2, 16.8, 16.2, 16.7, 16.3])
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
ang = ang_form(rn/100)
print("The wavelength is: ")
print(d*np.sin(ang*np.pi/180))

The wavelength is:
6.501595370220959e-07

### Gas B - Yellow

In [32]:
rn = np.mean([15.3, 14.7, 15.35, 14.7, 15.45, 14.6])
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
ang = ang_form(rn/100)
print("The wavelength is: ")
print(d*np.sin(ang*np.pi/180))

The wavelength is:
5.971537590951148e-07

In [15]:
ayu_high = [18.35, 19.05, 19.4, 19.1, 19.4, 19.75]
ayu_low = [10, 10.3, 9.9, 10, 9.9, 10]

In [5]:
pd.DataFrame(zip(ayu_high, ayu_low)).describe()

               0          1
count   6.000000   6.000000
mean   19.175000  10.016667
std     0.476183   0.147196
min    18.350000   9.900000
25%    19.062500   9.925000
50%    19.250000  10.000000
75%    19.400000  10.000000
max    19.750000  10.300000

In [8]:
high = 19.175000
low = 10.016667
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
angh = ang_form(high/100)
angl = ang_form(low/100)
print("The wavelength is: ")
print(d*np.sin(angh*np.pi/180))
print(d*np.sin(angl*np.pi/180))

The wavelength is:
7.419473667297926e-07
4.0856002113118367e-07

In [32]:
rn = np.mean([15.3, 14.7, 15.35, 14.7, 15.45, 14.6])
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
ang = ang_form(rn/100)
print("The wavelength is: ")
print(d*np.sin(ang*np.pi/180))

The wavelength is:
5.971537590951148e-07

In [13]:
sophie_high = [19.9, 18.3, 18.4, 18.6, 19.2, 19.3]
sophie_low = [10.05, 9.6, 9.75, 9.7, 9.7, 9.6]

In [14]:
pd.DataFrame(zip(sophie_high, sophie_low)).describe()

               0          1
count   6.000000   6.000000
mean   18.950000   9.733333
std     0.622093   0.166333
min    18.300000   9.600000
25%    18.450000   9.625000
50%    18.900000   9.700000
75%    19.275000   9.737500
max    19.900000  10.050000

In [11]:
high = 18.950000
low = 9.733333
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
angh = ang_form(high/100)
angl = ang_form(low/100)
print("The wavelength is: ")
print(d*np.sin(angh*np.pi/180))
print(d*np.sin(angl*np.pi/180))

The wavelength is:
7.3442130820208e-07
3.974661889466431e-07

In [18]:
total_high = ayu_high + sophie_high
total_low = ayu_low + sophie_low

In [19]:
pd.DataFrame(zip(total_high, total_low)).describe()

               0          1
count  12.000000  12.000000
mean   19.062500   9.875000
std     0.541095   0.210519
min    18.300000   9.600000
25%    18.550000   9.700000
50%    19.150000   9.900000
75%    19.400000  10.000000
max    19.900000  10.300000

In [20]:
high = 19.062500
low = 9.875000
ang_form = lambda x: np.arctan(x/(.48))/np.pi*180
angh = ang_form(high/100)
angl = ang_form(low/100)
print("The wavelength is: ")
print(d*np.sin(angh*np.pi/180))
print(d*np.sin(angl*np.pi/180))

The wavelength is:
7.381888755767133e-07
4.030179519000766e-07